<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Aboutus : MedicMandu</title>
</head>

<body style="background-color: #B3E5FC;align-items: center; text-align: center;  ">
  {%if request.user.is_authenticated%}
    {% include "medicmandu/user_navbar.html" %}
  {%else%}
    {% include "medicmandu/navbar.html" %}
  {%endif%}
  <main class="px-3" style="margin-top: 20px; height: 5px;">
    <h1>About the product and the clients.</h1>
    
       
    <p class="lead">
      This is a prototype-developement of the application built by the student <strong>19031846 Ashish Shrestha</strong> for the FYP. The purpose of the medicmandu is to develop a client-based e commerce application where a pharmacy is digitally operated. <br>Many feature are that are included in the ecommerce are used in the product.<br> such as cart , ordering, contact form, hoempage , edit-profile , login/logout , signup etc.
      <br><hr>
      <a href="/contactus" class="btn btn-lg btn-secondary fw-bold border-white">click here to contact us</a>
    </p><hr>
    <div class="aboutpharmacy&pharmacist" style="margin-top: 10px;">
      <a href="/aboutpharmacist" class="btn btn-lg btn-secondary fw-bold border-white">click here to know about us</a>
      <br><hr>
      <a href="/aboutpharmacy" class="btn btn-lg btn-secondary fw-bold border-white">click here to know about pharmacy</a>
    </div>
  </main>
 
</body>

{% include "medicmandu/footer.html" %}

</html>
