{% extends 'MedicMandu/adminmain.html' %}
{% load static %}
{% block content %}
<br>
{%include 'medicmandu/admin_dashboard_cards.html'%}
<br>
<hr>
<div class="container" >

    <div class="panel panel-primary" >
      <div class="panel-heading" style="text-align:center; background-color: rgb(255, 45, 45);" >
        <h6 class="panel-title" style="color: black;">Recent Medicine Bookings</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th> Name</th>
            <th> Mobile</th>
            <th> Address</th>
            <th>Medicine Name</th>
            <th>Medicine Picture</th>
            <th> Status</th>

          </tr>
        </thead>
        {% for Medicine,Customer,Order in data %}
        <tr>
          {% for c in Customer %}
          <td> {{c.get_name}}</td>
          <td>{{c.mobile}}</td>
          <td>{{Order.address}}</td>

          {% endfor %}
          {% for p in Medicine %}
          <td> {{p.medname}}</td>
          <td> <img src="{% static p.medicine_image.url %}" alt="Profile Pic" height="40px" width="40px" /></td>

          {% if Order.status == 'Pending'%}
          <td> <span class="label label-info">{{Order.status}}</span></td>
          {% elif Order.status == 'Delivered' %}
          <td> <span class="label label-success">{{Order.status}}</span></td>
          {% elif Order.status == 'Out for Delivery' %}
          <td> <span class="label label-warning">{{Order.status}}</span></td>
          {%else%}
            <td> <span class="label label-primary">{{Order.status}}</span></td>
          {%endif%}
          {% endfor %}
        </tr>
        {% endfor %}





      </table>

  </div>
</div>


{% endblock content %}
