{% extends 'medicmandu/main_home.html' %}
{% load static %}
{% block content %}


<head>

<style media="screen">
  .button {
  display: inline-block;
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button{
 margin:  50px;
 border: black;
}

h6{
  font-size: 50px;
}
tr{
padding-top: 50px;
}
</style>

</head>


<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 style="text-align:center;" class="panel-title">My Cart</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Description</th>
          <th>Remove From Cart</th>

        </tr>
      </thead>
      {% for p in medicines %}
      {% if p %}

      <tr>
        <td> {{p.medname}}</td>
        <td> <img src="{% static p.Medicine_image.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>Rs {{p.price}}</td>
        <td>{{p.description}}</td>

        <td><a class="btn btn-danger btn-xs" href="{% url 'removefromcart' p.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

      </tr>
      {%else%}
      <h1>no medicines</h1>
      {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
<div style="text-align: center;"><p style="font-size: 40px;" >Total Rs {{total}}</p>
  <a href="/useraddress"><button class="button" ><span>Order for Delivery</span></button></a>
  <a href="/useraddress"><button class="button" ><span>Order for Pickup</span></button></a>
</div>

{% endblock content %}
