{% extends 'medicmandu/main_home.html' %}
{% load static %}
{% block content %}



<h1 style="font-size: 100px; text-align: center;  padding: 50px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > Succesfully logged out</h1>
<h2 style="font-size: 70px; text-align: center;  padding: 50px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > See you again</h2>

<p style="font-size: 30px;" >Incase of any qurieres or feedback <br>please use contact page</p>
<br>

{% endblock content %}
<br>

{% include "medicmandu/footer.html" %}

