{% extends 'medicmandu/customer_base.html' %}
{% load static %}
{% block content %}



</style>
<br>
<div style="padding-left:300px;" class="container">

        <div class="col-sm-2 col-md-2">
            <!-- <img class="img" src="{% static p.medicine_image.url %}" alt="Medicine pic" height="300px" width="300px" > -->
            <img src="{% static customer.profle_pic url %}"  class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
          
                <p> user : {{request.user}}</p> 
                    <br>Address:{{customer.address}}
      
            <p> <i class="glyphicon glyphicon-phone"></i> {{customer.mobile}}
            </p>
        </div>

</div>
<br>
<div style="text-align: center;">

  <a href="/editprofile"><button type="submit" class="btn btn-primary" >editprofile</button></a>
</div>




{% endblock content %}
